.home-title {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  margin: 1rem 0rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.container-image {
  margin: 1rem 0;
}

.image {
  width: 19rem;
  height: 12rem;
}

@media only screen and (min-width: 600px) {
  .main {
    max-width: 100%;
  }

  .home-title {
    margin: 2rem 0;
  }

  .grid {
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fill, 19rem);
    justify-content: center;
  }

  .container-image {
    margin: 0;
  }
}